<!-- Validation failure messages -->
<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Product #<%= @product.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_product/<%= @product.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @product.name %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @product.description %>">
      </div>

      <!-- Label and input for expriration -->
      <div class="form-group">
        <label for="expriration" class="control-label">
          Expriration
        </label>

        <input type="text" id="expriration" name="expriration" placeholder="Expriration" class="form-control" value="<%= @product.expriration %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @product.image %>">
      </div>

      <!-- Label and input for brand_id -->
      <div class="form-group">
        <label for="brand_id" class="control-label">
          Brand
        </label>

        <input type="text" id="brand_id" name="brand_id" placeholder="Brand" class="form-control" value="<%= @product.brand_id %>">
      </div>

      <!-- Label and input for benefits -->
      <div class="form-group">
        <label for="benefits" class="control-label">
          Benefits
        </label>

        <input type="text" id="benefits" name="benefits" placeholder="Benefits" class="form-control" value="<%= @product.benefits %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @product.price %>">
      </div>

      <!-- Label and input for likes -->
      <div class="form-group">
        <label for="likes" class="control-label">
          Likes
        </label>

        <input type="text" id="likes" name="likes" placeholder="Likes" class="form-control" value="<%= @product.likes %>">
      </div>

      <button class="btn btn-warning">
        Update Product
      </button>
      or
      <a href="/products/<%= @product.id %>">Cancel</a>
    </form>
  </div>
</div>
