<div class="page-header">
  <h1>
    Products
    <a href="/products/new" class="btn btn-lg btn-success">New Product</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Expriration</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Benefits</th>
        <th>Price</th>
        <th>Likes</th>
        <th>Actions</th>
      </tr>

      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.expriration %></td>
        <td><img src='<%= product.image %>' class='img-responsive'></td>
        <td><%= product.brand.product_id %></td>
        <td><%= product.benefits %></td>
        <td><%= product.price %></td>
        <td><%= product.likes %></td>
        <td>
          <a href="/products/<%= product.id %>" class="btn btn-primary">Show</a>
          <a href="/products/<%= product.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_product/<%= product.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @products, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
