<!-- Validation failure messages -->
<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Product</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_product" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @product.name %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @product.description %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @product.image_url %>">
      </div>

      <!-- Label and input for brand_id -->
      <div class="form-group">
        <label for="brand_id" class="control-label">
          Brand
        </label>

        <%= select_tag(:brand_id, options_from_collection_for_select(Brand.all, :id, :created_at, @product.brand_id), :class => "form-control") %>
      </div>

      <!-- Label and input for benefits -->
      <div class="form-group">
        <label for="benefits" class="control-label">
          Benefits
        </label>

        <input type="text" id="benefits" name="benefits" placeholder="Benefits" class="form-control" value="<%= @product.benefits %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @product.price %>">
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <input type="text" id="comments" name="comments" placeholder="Comments" class="form-control" value="<%= @product.comments %>">
      </div>

      <button class="btn btn-success">
        Create Product
      </button>
      or
      <a href="/products">Cancel</a>
    </form>
  </div>
</div>
