<div class="page-header">
  <h3>Product #<%= @product.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @product.name %></dd>

      <dt>Description</dt>
      <dd><%= @product.description %></dd>

      <dt>Image url</dt>
      <dd><%= @product.image_url %></dd>

      <dt>Brand</dt>
      <dd>
        <% if @product.brand.present? %>
          <a href="/brands/<%= @product.brand_id %>">
            <%= @product.brand.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Benefits</dt>
      <dd><%= @product.benefits %></dd>

      <dt>Price</dt>
      <dd><%= @product.price %></dd>

      <dt>Comments</dt>
      <dd><%= @product.comments %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/products" class="btn btn-primary">
        Back
      </a>
      <a href="/products/<%= @product.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_product/<%= @product.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
